**/__pycache__
CH40208/_build
**/*.log
**/*.aux
**/*.bbl
**/*.blg
**/*.out
**/*.dvi
**/*.fls
**/*.fdb_latexmk
**/rsc-*.bib
.snakemake
**/.DS_Store
**/*.swp
**/~$*
**/.ipynb_checkpoints
tdd_exam/marking
